

/*.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: grey;
  padding: 10px;
  font-family: Segoe UI, Helvetica, Arial, sans-serif;
  color: white;
  float: left;
}

.grid-container div {
}*/

.flex-container {
  display: flex;
  height: auto;
  align-items: flex-start;
  background-color: #c0c0c0;
  color: white;
  font-family: Segoe UI, Helvetica, Arial, sans-serif;
  align-self: center;
  flex-wrap: wrap;
  flex: auto;
  width: auto;
  margin: 10%;
  justify-content: space-evenly;


}

.flex-container div {
  width: 400px;
  float: left;
  flex-wrap: wrap;
  text-align: center;
  align-self: center;
  padding: 5px;
  border-radius: 4px;
}

h1 {
  font-size: 3em;
  font-family: Segoe UI, Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 2.5em;
  font-family: Segoe UI, Helvetica, Arial, sans-serif;
}

h3 {
  font-size: 2.1em;
  font-family: Segoe UI, Helvetica, Arial, sans-serif;
}



p {
  font-size: 1.5em;
  font-family: Helvetica, sans-serif;
}

.header {
  background-color: grey;
  color: white;
  font-family: Helvetica, sans-serif;
  padding-left: 5%;
  padding-bottom: 2%;
  border-radius: 8px;

}

.nav {
  background-color:
}

.nav ul {
font-size: 1.5em;
background-color: grey;
color: white;
font-family: Helvetica, sans-serif;
list-style-type: none;
display: inline;

}
.nav li {
background-color: grey;
  float:left;
  display:inline;
  padding-right: 10px;

}

div.intro {
width: 80%;
align: center;
margin: 10%;

}

.header p {
  color: white;
  font-size: 1em;
  margin-top: -30px;
}

div.grid-container p {
  font-size:1em;
}

div.grid-container div{
  padding: 10px;
  border-radius: 5px;
}

.footer {
  background-color: black;
  color: white;
  height: 100px;
  padding: 5%;
}
